{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "eslint-disable-next-line":  "off",
    "jsx-a11y/click-events-have-key-events":  "off",
    "jsx-a11y/no-static-element-interactions":  "off"
  }
}