.chess-board {
    border: 2px solid #8a8686;
    border-radius: 4px;
    text-align: center;
    width: 60vw;
    height: 60vw;
    margin: auto;
    max-width: 800px;
    max-height: 800px;
}

.square {
    height: 12.5%;
    width: 12.5%;
    max-height: 100vw;
    max-width: 100vw;
    float: left;
    padding: 0;
    margin: auto;
    position: relative;
}

.square img {
    cursor: pointer;
}


.square .active {

    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0f74359;
}


.highlight {
    position: absolute;
    width: 26%;
    height: 26%;
    border: 0.5rem #f9f9f9a6 solid;
    border-radius: 50%;
    left: 30%;
    top: 30%;
}
.rank-label {
    position: absolute;
    left: -33%;
    bottom: 35%;
    text-transform: capitalize;
    font-size: 18px;
}
.file-label {
    position: absolute;
    text-transform: capitalize;
    font-size: 18px;
    left: 33%;
    bottom: -40%;
}

.brown .white-square{
    background-color: #bfa481;
}
.brown .black-square{
    background-color: #7e5b41;
}

.green .white-square{
    background-color: #eeeed2;
}
.green .black-square{
    background-color: #769656;
}



.brown .dark{
    color: #bfa481;
}
.brown .white{
    color: #7e5b41;
}

.green .dark{
    color: #eeeed2;
}
.green .white{
    color: #769656;
}


@media only screen and (max-width: 600px) {
    .chess-board {
        width: 100vw;
        height: 100vw;
        margin: auto;
        max-width: 95vw;
    }
    .rank-label {
        font-size: 10px;
    }
    .file-label {
        font-size: 10px;
    }
    .highlight {
        left: 22%;
        top: 22%;
    }

}
